body {
  background-color: #ee4028;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

.logo {
  width: "100%";
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}
